
/de.bht.fpa.mail.s769161/bin
/de.bht.fpa.mail.s769161.fsnavigation/bin
/de.bht.fpa.mail.s769161.manager/bin
/de.bht.fpa.mail.s769161.message/bin
/de.bht.fpa.mail.s769161.messagetable/bin
/de.bht.fpa.mail.s769161.model/bin